<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Flashcards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (view) { %>
      <%- include(view) %>
    <% } %>
  </body>
</html>
