body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0px;
}
a {
  color: #00B7FF;
}

form {
  margin-bottom: 10px;
}

#container {
  display: flex;
}

#timer-and-score {
  display: flex;
}

#score {
  margin-left: 40px;
}

#correct-container {
  height: 69px;
  width: 503px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
